<!DOCTYPE HTML>
{% load static %}
<html lang="zxx">

<head>
	<title>Movie Ticket :: Login</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- Meta tag Keywords -->
	<!-- css files -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" />
	<!-- Style-CSS -->
	<link rel="stylesheet" href="{% static 'css/fontawesome-all.css' %}">
	<!-- Font-Awesome-Icons-CSS -->
	<!-- //css files -->
	<!-- web-fonts -->
	<link href="//fonts.googleapis.com/css?family=Reem+Kufi&amp;subset=arabic" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
	<!-- //web-fonts -->
</head>
<style>
	*{
		background-image: url("C:\Users\JASHWANTH K\Movie_ticket_booking_system__\Movie_Tiket_Booking\Movie_Tiket_Booking\media\background-login.jpeg");
	}
</style>

<body>

{% ifequal error "pat1" %}
<script>
    alert('logged in successfully');
    window.location="{% url 'home' %}";
</script>
{% endifequal %}

{% ifequal error "admin" %}
<script>
    alert('logged in successfully');
    window.location="{% url 'admin_home' %}";
</script>
{% endifequal %}

{% ifequal error "not" %}
<script>
    alert('Username & Password are not Matching');
</script>
{% endifequal %}



	<!-- title -->
	<h1>
		<span>W</span>elcome!
		<span>P</span>lease
		<span>L</span>ogin
		<span></span>....</h1>
	<!-- //title -->
	<!-- content -->
	<div class="sub-main-w3">
		<form action="#" method="post">
			{% csrf_token %}
			<div class="form-style-agile">
				<label>
					Username
					<i class="fas fa-user"></i>
				</label>
				<input placeholder="Username" name="uname" type="text" required="">
			</div>
			<div class="form-style-agile">
				<label>
					Password
					<i class="fas fa-unlock-alt"></i>
				</label>
				<input placeholder="Password" name="pwd" type="password" required="">
			</div>
			<!-- checkbox -->
			<div class="wthree-text">
				<ul>
					<li>
						<!-- switch -->
						<div class="checkout-w3l">
							<div class="demo5">
								<div class="">
									<label>
										<i></i>
									</label>
								</div>
							</div>
							<a href="{% url 'signup_user' %}">Already have account?Register here</a>
						</div>
						<!-- //checkout -->
					</li>
					<!--<li>
						<a href="#">Forgot Password?</a>
					</li>-->
				</ul>
			</div>
			<!-- //switch -->
			<input type="submit" value="Log In">
			<a href="{% url 'home' %}" style="color:white;margin-top:2%">Back to home</a>
		</form>

	</div>
	<!-- //content -->

	<!-- copyright -->
	<div class="footer">
		<p>&copy; Movie Ticket Booking System. All rights reserved
			
		</p>
	</div>
	<!-- //copyright -->

</body>

</html>